@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-family: Poppins-Regular, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.layout {
    width: 100%;
    display: flex;
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

.Menu-left {
    width: 18%;
    background-color: rgb(82, 78, 78);
    height: 100%;
    position: relative;
    transition: all .3s ease-in-out;
}

.header a:first-child {
    font-size: 1.3rem;
}

.Menu-left2 {
    left: -250px;
    position: absolute;
    transition: all .3s ease-in-out;
}

.Menu-left .header {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    background-color: #8b5c7e;
}

.icon-cate {
    width: 30px;
    height: 30px;
    background-color: #db9dca;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 228px;
    cursor: pointer;
}

.icon-cate2 {
    left: 300px;
}

.icon-cate:hover {
    background: red;
    transition: all 0.4s;
}

.icon-cate i {
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    top: 35%;
    left: 0%;
    text-align: center;
    color: whitesmoke;
}

ul.slide-bar {
    color: white;
    opacity: 80%;
}

ul.slide-bar li {
    padding: 15px 10px;
    margin: 5px 0px;
}

ul.slide-bar ul.sub-cate {
    display: none;
}

ul.slide-bar li:hover {
    transition: all 0.5s;
    background-color: #8b5c7e;
}

ul.sub-cate li {
    transition: all 0.4s;
    background-color: #ccc;
    padding: 5px 10px;
}

ul.slide-bar li:hover ul.sub-cate {
    display: block;
    transition: all 0.25s;
}

ul.slide-bar li a {
    color: white;
    display: block;
}

.content-right {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.content-right .header {
    background: rgb(240, 188, 180);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}

.header {
    height: 80px;
}

.profile {
    width: 150px;
    background: #8b5c7e;
    height: 50%;
    display: flex;
    border-radius: 100px;
    margin-right: 3%;
    position: relative;
}

.profile .avatar {
    width: 33%;
    padding: 2px;
}

.profile .avatar img {
    height: 100%;
}

.profile .name {
    color: aliceblue;
    font-size: 0.9rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.profile .arrow-dropdow {
    padding: 5px 0px 0px 10px;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #8b5c7e;
    color: #ccc;
    background: white;
    font-size: 0.8rem;
    top: 40px;
    margin-top: 0px;
    width: 100%;
    padding: 5px 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

ul.sub-menu li {
    display: flex;
}

ul.sub-menu li a {
    display: block;
    padding-left: 20px;
}

ul.sub-menu li i {
    padding-top: 3px;
}

.profile:hover ul.sub-menu {
    display: inline-block;
}

.content {
    background-color: rgb(240, 223, 223);
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.content .container {
    margin: 0px auto;
    width: 90%;
    margin-bottom: 20px;
}

.container .title {
    margin-top: 20px;
    text-align: center;
    background-color: #e0bcd6;
    height: fit-content;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(58, 46, 46);
    text-transform: uppercase;
    padding: 15px 0px;
}

.table-user {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}