
@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Layout/_homeLayoutWithBanner.cshtml";
}
    <div class="container">
        <script src="~/Content/assets/front-end/js/show-home.js"></script>
        <link href="~/Content/assets/front-end/css/detailCompany.css" rel="stylesheet" />
        <script src="~/Content/assets/front-end/js/detailCompany.js"></script>
        <!-- start -->
        <div class="notable-employer">
            <div class="swiper-container">
                <div class="picture">
                    <img src="~/Content/assets/front-end/images/banner.jpg" alt="">
                </div>
                <div class="info-company">
                    <div class="frame">
                        <div class="logo-company">
                            <img src="~/Content/assets/front-end/images/bkav.png" alt="" id="pictrueCompany">
                        </div>
                        <br />
                        <div class="content-company">
                            <div class="name-job">Marketing Team Leader</div>
                            <br />
                            <div class="slogan" id="slogan">Tập Đoàn BKAV - nơi chắp cánh ước mơ</div>
                            <br />
                            <div class="location" id="address">Đại điểm làm việc: Hà Nội</div>
                            <br />
                            <a href="#" id="salary">Đăng nhập để xem lương</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <ul class="menu-second">
                <li><a href="#">THÔNG TIN</a></li>
                <li><a href="#">CÔNG TY</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                <div id="box">

                </div>
            </div>
            <div class="col-4">

            </div>

        </div>

        <!-- end -->

    </div>


