
@{
    ViewBag.Title = "Jobs_Search";
    Layout = "~/Views/Layout/_homeLayoutWithBanner.cshtml";
}

<link href="~/Content/assets/front-end/css/jobs.css" rel="stylesheet" />
<script src="~/Content/assets/front-end/js/jobs_search.js"></script>
<!-- start -->
<div class="list-Job" id="list-job">
    <div class="row-job">
        <div class="picture"><img src="/Content/assets/front-end/images/bkav.png" alt=""></div>
        <div class="info-job">
            <div class="name-job">Tester AVCCCCCCCCC</div>
            <div class="name-company">BKAV</div>
            <div class="salary">Lương : 3000$</div>
            <div class="address">Địa Chỉ : Hà Nội</div>
            <div class="extra">
                <div class="grant">
                    <i class="fas fa-hand-holding-usd fa-2x"></i>Thưởng
                </div>
                <div class="healthy">
                    <i class="fas fa-user-md fa-2x"></i>Khám Sức Khỏe
                </div>
                <div class="travel">
                    <i class="fas fa-plane-departure fa-2x"></i>Du Lịch
                </div>
            </div>
        </div>
        <div class="login-to-detail-job">
            <button>Đăng Nhập Để Xem Thưởng</button>
        </div>
    </div>
    <div class="row-letter" id="row-letter">
        <div class="picture-letter">
            <img src="/Content/assets/front-end/images/mailbox.png" alt="">
        </div>
        <div class="content-letter">
            <h3>Nhận Thông Báo Việc Làm Qua Email</h3>
            <p>Nhận thông báo khi có việc làm mới</p>
        </div>
        <div class="notification">
            <button>Nhận Thông Báo</button>
        </div>
    </div>
</div>

<!-- end -->
