* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: FontAwesome;
    src: url(../font/font-awesome/css/all.css);
}

body {
    font-family: "Open Sans", sans-serif !important;
}


/* css header  */

.header {
    background-image: linear-gradient(90deg, rgb(0, 185, 242) 48%, rgb(14, 124, 205) 95%, rgb(0, 185, 242) 100%);
    display: flex;
    color: white;
    padding: 5px 10px;
    position: relative;
}

    .header .tab-menu {
        width: 30%;
        position: absolute;
        top: 0;
        left: 0;
        height: 1000px;
        background-color: #171819;
        opacity: 85%;
        z-index: 7;
        padding: 15px 0px 0px 0px;
    }

.header-left,
.header-right {
    display: flex;
}

.header-left {
    width: 60%;
}

    .header-left .bar {
        position: absolute;
        top: 5px;
        left: 5%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #377eef;
        z-index: 7;
        display: none;
    }

.header .icon-bar {
    height: fit-content;
    padding: 8px 10px;
}

    .header .icon-bar i {
        width: 100%;
        font-size: 1.4rem;
        margin-top: 2px;
    }

.header-left .logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

.header-left .menu {
    width: 80%;
}

    .header-left .menu .main-menu {
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;
    }

        .header-left .menu .main-menu li a {
            color: white;
            font-size: 0.9rem;
        }

            .header-left .menu .main-menu li a:hover {
                border-bottom: 1px solid whitesmoke;
                transition: all 0.5s;
                color: olive;
            }

.header-right {
    width: 40%;
}

.header .tools {
    display: flex;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header-right .tools .notification {
    cursor: pointer;
}

.header-right .tools li {
    display: inline-table;
    align-self: center;
}

    .header-right .tools li:nth-child(3) {
        border: 1px solid #ccc;
        cursor: pointer;
    }

        .header-right .tools li:nth-child(3):hover {
            border: 1px solid white;
            transition: all 0.25s;
        }

.header-right .tools .sign-in {
    padding: 0px 5px 0px 0px;
    font-size: 0.9rem;
}

    .header-right .tools .sign-in i:first-child {
        padding: 11px 10px;
        background-color: rgb(37 210 213);
    }

    .header-right .tools .sign-in i:last-child {
        margin-left: 10px;
    }

li#group-signIn {
    position: relative;
}

.formSignIn {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    top: 40px;
    right: 0;
    z-index: 10;
    color: #171819;
    border-radius: 10px;
    padding: 10px 10px;
    transition: all 0.5s;
}

.formLogout {
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    top: 40px;
    right: 0;
    z-index: 10;
    color: #171819;
    border-radius: 10px;
    padding: 10px 10px;
    transition: all 0.5s;
}

    .formSignIn .title-signIn,
    .formLogout .title-signIn {
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding: 10px 0px;
    }

    .formLogout .title-signIn {
        text-align: left;
    }

        .formLogout .title-signIn a::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            padding: 0px 10px 0px 3px;
        }

        .formLogout .title-signIn a.manage::before {
            content: "\f013";
        }

        .formLogout .title-signIn a.logout::before {
            content: "\f2f5";
        }

        .formLogout .title-signIn a:hover {
            color: rgba(97, 0, 0, 0.685);
            transition: all 0.25s;
        }

.formSignIn button {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

    .formSignIn button:hover {
        border: 1px solid #171819;
        opacity: 80%;
        transition: all 0.25s;
    }

    .formSignIn button#btnLogin {
        background-color: #0c5d75;
    }

    .formSignIn button#btnSignin {
        background-color: #ce8f42;
    }

        .formSignIn button#btnLogin a,
        .formSignIn button#btnSignin a {
            color: #fff;
        }

P#forgot {
    padding-top: 5px;
    font-size: 0.9rem;
    text-align: right;
    font-weight: 500;
}

    P#forgot a:hover {
        color: red;
    }


/* end css header  */


/* css navigation  */

.navigation {
    width: 100%;
}
    .navigation .slides {
        overflow: hidden;
        position: relative;
    }
        .navigation .slides .slider {
            position: relative;
            width: 400%;
            display: flex;
            transition: all 1s;
        }

            .navigation .slides .slider .picture {
                background-color: black;
                width: 25%;
                transition: all 1s;
            }

            .navigation .slides .slider .picture img {
                width: 100%;
                opacity: 80%;
            }

.group-search {
    position: absolute;
    bottom: 27%;
    width: 100%;
    text-align: center;
}

.group-search .title {
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.group-search .box-search {
    display: flex;
    justify-content: center;
}

.box-search .container-search {
    width: 60%;
    display: flex;
    justify-content: center;
    border: 10px solid rgba(0, 0, 0, 0.35);
    box-sizing: content-box;
    background-color: transparent;
    border-radius: 5px;
}

    .box-search .container-search .input-search {
        width: 100%;

        position: relative;
    }

.container-search button {
    width: 15%;
    background-color: #F7941D;
    color: aliceblue;
    font-weight: 500;
    border: none;
    font-size: 1.5vw;
}

.input-search input {
    width: 100%;
    height: 100%;
    padding: 4px 50px;
    font-size: 1.15rem;
}

.input-search span {
    position: absolute;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    left: 10px;
    opacity: 50%;
}

.input-search span i {
    font-size: 1.4rem;
}
.label-controll-banner {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.lable-bar {
    width: 5%;
    height: 15px;
    display: block;
    border: 1px solid #ccc;
    margin: 0px 15px;
    transition: all 0.5s;
    background-color: #363636;
    opacity: 0.8;
    border-radius: 5px;
    outline: none;
}

.lable-bar:hover, .lable-bar:first-child {
    background-color: #fff;
}

input[name='r'] {
    display: none;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}


/* end css navigation  */


/* content  */


/* feature company*/

.content {
    margin-top: 30px;
    width: 100%;
}

    .content .container {
        width: 90%;
        margin: 0 auto;
    }

        .content .container .feature-companies {
        }

.title {
    text-align: center;
    font-weight: 300;
    color: #484848;
    font-size: 30px;
    margin-bottom: 10px;
}

.feature-companies .companies .list-companies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list-companies .company {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-content: center;
    cursor:pointer;
}

.company .box-company {
    border: 1px solid rgb(212, 205, 205);
}

    .company .box-company .picture {
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        padding: 15px 15px;
        align-content: center;
        flex-wrap: wrap;
    }

        .company .box-company .picture img {
            width: 100%;
        }

.company .name {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #007fa6;
    font-size: 0.9rem;
}

    .company .name a:hover {
        color: #F7941D;
        transition: all 0.25s;
    }


/* end feature company  */


/* feature Jobs*/

.feature-jobs {
    margin-top: 40px;
}

    .feature-jobs .container-jobs {
        display: flex;
        justify-content: space-around;
    }

.container-jobs .list-jobs {
    width: 40%;
}

.list-jobs .row {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #484848;
    padding: 5px;
}

    .list-jobs .row .container-row {
        display: flex;
        height: 100%;
        position: relative;
    }

        .list-jobs .row .container-row .avatar {
            width: 20%;
            display: flex;
            padding: 5px;
        }

            .list-jobs .row .container-row .avatar img {
                width: 100%;
            }

        .list-jobs .row .container-row .info-job {
            width: 70%;
            padding: 5px 15px;
        }

.info-job .name {
    font-weight: 700;
    color: #363636;
    font-size: 1.5vw;
    cursor:pointer;
}

.info-job .address {
    font-size: 0.9rem;
    color: #555;
    height: 40px;
    overflow: hidden;
}

.list-jobs .row .container-row .status {
    position: absolute;
    top: 40%;
    background-color: red;
    color: white;
    font-weight: 600;
    display: inline-table;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 2px 5px;
    right: 0px;
}

.list-jobs-index {
    margin-top: 20px;
    width: 100%;
}

.menu-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

    .menu-index li,
    .controll {
        margin: 0 15px;
        display: flex;
    }

        .menu-index li a {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
        }

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

    .circle:hover {
        background-color: rgb(144, 53, 197);
        transition: all 0.25s;
    }


/* end feature jobs  */


/*notable employer*/

.notable-employer {
    margin-top: 40px;
}

    .notable-employer .swiper-container {
        padding: 10px;
    }

.swiper-container .picture {
    width: 100%;
}

    .swiper-container .picture img {
        width: 100%;
    }

.swiper-container .info-company {
    margin-top: -100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

    .swiper-container .info-company .frame {
        width: 80%;
        background-color: white;
        border: 1px solid rgb(179, 170, 170);
        border-radius: 5px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }

.info-company .frame .logo-company {
    width: 20%;
    display: flex;
    justify-content: center;
}

    .info-company .frame .logo-company img {
        width: 100%;
    }

.info-company .frame .content-company {
    width: 80%;
    padding-left: 30px;
}

.frame .content-company .name {
    font-size: 1.75rem;
    color: #484848;
}

.frame .content-company .slogan {
    text-transform: uppercase;
    color: #13a7d4;
}

.frame .content-company .introduction {
    font-size: 0.9rem;
    margin-top: 15px;
}

.frame .more-than {
    margin-top: 10px;
    width: 100%;
    text-align: right;
}

    .frame .more-than button {
        padding: 10px 20px;
        background-color: #F7941D;
        border: none;
        color: #ffffff;
        border-radius: 3px;
    }

        .frame .more-than button:hover {
            background-color: brown;
            transition: all 0.25s;
        }

.list-notable-company {
    margin-top: 20px;
}


/* end notalbe employer  */


/* consult carrier  */

.consult-carrier {
    margin-top: 40px;
}

    .consult-carrier .carrier-container {
    }

.carrier-container .list-carrier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .carrier-container .list-carrier li {
        width: 30%;
        padding: 10px;
    }

figure.picture {
    width: 100%;
}

    figure.picture img {
        width: 100%;
    }

figcaption {
    color: rgb(105, 100, 100);
    font-size: 0.8rem;
}

.carrier {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

    .carrier .carrier-title {
        font-weight: 600;
    }

    .carrier .carrier-intro {
        padding: 5px 0px;
        font-size: 0.95rem;
    }


/* end consult carrier  */


/* course for you  */

.coures-for-you {
    margin-top: 30px;
}

    .coures-for-you .list-course {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

        .coures-for-you .list-course li {
            width: 290px;
            height: 265px;
        }

            .coures-for-you .list-course li:hover img {
                transform: scale(1.1);
                transition: all 0.5s;
                color: orange;
            }

.course {
    width: 100%;
    height: 100%;
    padding: 10px;
}

    .course .course-picture {
        width: 100%;
        overflow: hidden;
    }

        .course .course-picture img {
            width: 100%;
        }

    .course .name-course {
        padding-top: 5px;
        padding-left: 10px;
        font-weight: 500;
        color: #363636;
        cursor: pointer;
    }

        .course .name-course:hover {
            color: olive;
        }

    .course .author {
        padding-left: 10px;
        color: #555;
        font-weigh: 100;
        font-size: 0.9rem;
    }


/* end course for you  */


/* banner  */

.banner {
    width: 100%;
}

    .banner .banner-container {
        width: 100%;
        position: relative;
    }

        .banner .banner-container img {
            width: 100%;
            height: 100%;
        }

    .banner .banner-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        padding: 3px 0px 3px 5px;
        height: 100%;
    }

        .banner .banner-info .info-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 65%;
        }

            .banner .banner-info .info-content span {
                display: inline-block;
                color: white;
                font-size: 1.4vw;
            }

.info-content span:first-child {
    text-transform: uppercase;
    font-weight: 500;
}

.info-content span:nth-child(2) {
    font-weight: 700;
    font-size: 1.3rem;
}

.info-content span:last-child {
    font-size: 0.95rem;
}

.banner .banner-info .info-button {
    width: 100%;
    height: 32%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 9%;
}

    .banner .banner-info .info-button button {
        width: 25%;
        height: fit-content;
        padding: 2% 0.5%;
        background-color: olive;
        color: white;
        border-radius: 3px;
        transition: all 0.4s ease-in-out;
        border: none;
        font-size: 1.2vw;
    }

        .banner .banner-info .info-button button:hover {
            background-color: brown;
            transition: all 0.4s;
        }


/* end banner  */


/* footer  */

.footer {
    background-color: #212529;
}

    .footer .footer-container {
        width: 100%;
        padding: 20px;
    }

.footer-container .footer-logo {
    width: 15%;
}

    .footer-container .footer-logo img {
        width: 100%;
    }

.footer-container .info-contact {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
}

.info-contact .for-employ,
.linked .title-link {
    color: #d8dfe0;
}

.linked {
    max-width: 30%;
}

    .for-employ .tile,
    .linked .title-link {
        font-weight: 600;
        margin: 10px 0px;
        text-align: center;
    }

.for-employ li a {
    color: #ccc;
    font-size: 1.2vw;
}

    .for-employ li a:hover {
        color: olive;
    }

.linked-container {
    display: flex;
    justify-content: space-evenly;
}

    .linked-container .picture-linked {
        width: 40%;
    }

        .linked-container .picture-linked img {
            width: 100%;
        }

.copy-right {
    width: 100%;
    padding: 3px 5%;
    background-color: #333;
    display: flex;
}

    .copy-right ul.cp-right {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

        .copy-right ul.cp-right li {
            margin: 0px 20px;
        }

            .copy-right ul.cp-right li a {
                color: #f5f5f5;
            }

.author {
    width: 100%;
    color: #f5f5f5;
    font-size: 1.3vw;
}


/* end footer  */


/* end content  */
